In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('data/input-day1.txt', header = None)

In [17]:
sorted_data = data.sort_values(0)

In [18]:
data

        0
0    1619
1    1919
2    1441
3    1861
4    1932
..    ...
195  1882
196  1823
197  1388
198  1548
199  1879

[200 rows x 1 columns]

In [10]:
data[0][1]

1919

In [14]:
data.size

200

In [23]:
def getitems(data):
    for i in range(0,data.size):
        for j in range (i, data.size):
            for k in range (j, data.size):
                if (data[0][i] + data[0][j]+ data[0][k]) == 2020 :
                    return data[0][i], data[0][j], data[0][k]
            
one, two, three = getitems(data)
print (one, two, three, one*two*three)

390 324 1306 165026160