In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('data/input-day2.txt', delimiter = '[: -]', header = None, engine='python')

In [10]:
data

      0   1  2   3                    4
0     9  12  q NaN      qqqxhnhdmqqqqjz
1    12  16  z NaN     zzzzzznwlzzjzdzf
2     4   7  s NaN              sssgssw
3    13  14  p NaN    pppqzpppppppfpppp
4     2   9  m NaN      jknmmmmmmdmmmrm
..   ..  .. ..  ..                  ...
995   3   5  s NaN              sbsssss
996   4   6  r NaN              wzsrffr
997  10  13  r NaN     rrrnrkfrrcrtnrlh
998  16  18  m NaN  mmtmrxmmmmmmmmmcmmm
999   9  11  b NaN      bkbltdvbtwbbtsb

[1000 rows x 5 columns]

In [39]:
def count(char, data, minimum, maximum):
    
    count = data.count(char)

    return count

count('c', 'abcd')

1

In [72]:
def check(char, data, pos1, pos2):
    count = 0
    if data[pos1-1] == char:
        count = count + 1
    if data[pos2-1] == char:
        count = count + 1
    
    if count == 1:
        return 1
    return 0

check('c', 'cbcd',1,3)

0

In [51]:
data['count'] = data.apply(lambda row: count(row[2],row[4]), axis=1)

In [57]:
def valid(char, data, minimum, maximum):
    
    count = data.count(char)
    if (count >= minimum) & (count <= maximum):
        return 1
    else:
        return 0

valid('c', 'abccd', 1, 6)

1

In [59]:

data['valid'] = data.apply(lambda row: valid(row[2],row[4],row[0],row[1]), axis=1)

In [74]:

data['check'] = data.apply(lambda row: check(row[2],row[4],row[0],row[1]), axis=1)

In [75]:
data

      0   1  2   3                    4  valid  count  check
0     9  12  q NaN      qqqxhnhdmqqqqjz      0      7      1
1    12  16  z NaN     zzzzzznwlzzjzdzf      0     10      0
2     4   7  s NaN              sssgssw      1      5      0
3    13  14  p NaN    pppqzpppppppfpppp      1     14      1
4     2   9  m NaN      jknmmmmmmdmmmrm      0     10      1
..   ..  .. ..  ..                  ...    ...    ...    ...
995   3   5  s NaN              sbsssss      0      6      0
996   4   6  r NaN              wzsrffr      0      2      1
997  10  13  r NaN     rrrnrkfrrcrtnrlh      0      8      0
998  16  18  m NaN  mmtmrxmmmmmmmmmcmmm      0     15      1
999   9  11  b NaN      bkbltdvbtwbbtsb      0      6      1

[1000 rows x 8 columns]

In [76]:
data['check'].sum()

346