In [46]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/input-day5.txt', header=None)

In [3]:
data

              0
0    FFFBFFFRRL
1    FFFBBBFLLL
2    BFFFBFBRLR
3    BFBFFFBRLL
4    FFFBFBBRLR
..          ...
935  FFBFFFFLLL
936  FFFBBFFLLL
937  BBFFFBFLLL
938  BFFFBFBRLL
939  FFFBBFFRLR

[940 rows x 1 columns]

In [25]:
def getrow(string):
    maxrow = 127
    minrow = 0
    for char in string:
        if char == 'F':
            maxrow = maxrow - round((maxrow-minrow)/2)
        if char == 'B':
            minrow = minrow + round((maxrow-minrow)/2)
            
    if string[6] == 'F':
        return minrow
    else:
        return maxrow

getrow('FBFBBFFRLR')

44

In [36]:
def getcol(string):
    maxrow = 7
    minrow = 0
    for char in string:
        if char == 'L':
            maxrow = maxrow - round((maxrow-minrow)/2)
        if char == 'R':
            minrow = minrow + round((maxrow-minrow)/2)
            
    if string[9] == 'L':
        return minrow
    else:
        return maxrow

getcol('FBFBBFFRLR')

5

In [39]:
def getseatid(string):
    col = getcol(string)
    row = getrow(string)
    return row*8+col
getseatid('FFFBFFFRRL')

70

In [37]:
data['seatid'] = data.apply(lambda x: getseatid(x[0]),axis=1)

In [40]:
data['seatid'].max()

980

In [43]:
data= data.sort_values('seatid')

In [47]:
seats = pd.Series(np.arange(data['seatid'].min(),data['seatid'].max()))

In [55]:
seats[~seats.isin(data['seatid'])]

567    607
dtype: int64

In [52]:
data[(data['seatid']==567)]

              0  seatid
741  BFFFBBFRRR     567

In [51]:
data[(data['seatid']==607)]

Empty DataFrame
Columns: [0, seatid]
Index: []